<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.0-beta7" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="Npgsql" version="2.2.7" targetFramework="net461" />
  <package id="NServiceBus" version="5.2.14" targetFramework="net452" />
  <package id="NServiceBus.PostgreSQL" version="1.0.0-CI00021" targetFramework="net452" />
</packages>