<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core"/>
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core"/>
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
  </configSections>

  <SecondLevelRetriesConfig Enabled="false"  />
  
  <Logging Threshold="Fatal" />

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="TestHarness" Namespace="Messages.Incoming" Endpoint="TestHarness.IncomingMessages"/>
      <add Assembly="TestHarness" Namespace="Messages.Outgoing" Endpoint="TestHarness.Sender"/>
      <add Assembly="TestHarness" Type="Messages.TradeActions.PlaceShortTrade" Endpoint="TestHarness.Shorts"/>
      <add Assembly="TestHarness" Type="Messages.TradeActions.PlaceLongTrade" Endpoint="TestHarness.Longs"/>
      <add Assembly="TestHarness" Namespace="Messages.Notifications" Endpoint="TestHarness.Notifications"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="cacheSendConnection=true;journal=false;deadLetter=false;useTransactionalQueues=true"/>
    <add name="NServiceBus/Persistence" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=OutboxPerfTest;Trusted_Connection=True;"/>
    <add name="NServiceBus/Persistence/RavenDB" connectionString="Url = http://localhost:8080"/>
    <add name="NServiceBus/Persistence/NHibernate/Saga" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=OutboxPerfTest;Trusted_Connection=True;"/>
  </connectionStrings>

  <appSettings>
    <add key="NServiceBus/Outbox" value="true"/>
    <add key="NServiceBus/Persistence/NHibernate/dialect" value="NHibernate.Dialect.MsSql2012Dialect"/>
    <add key="NServiceBus/Persistence/NHibernate/connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
    <add key="NServiceBus/Persistence/NHibernate/connection.driver_class" value="NHibernate.Driver.Sql2008ClientDriver" />
    <add key="NServiceBus/Outbox/NHibernate/TimeToKeepDeduplicationData" value="0.00:20:00" />
    <add key="NServiceBus/Outbox/NHibernate/FrequencyToRunDeduplicationDataCleanup" value="00:00:30" />
  </appSettings>

  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>