<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="NServiceBus/Transport/SqlServer" connectionString="" providerName="System.Data.SqlClient"/>
  <add name="RabbitMQ" connectionString="" />
  <add name="AzureServiceBus" connectionString="" />
  <add name="AzureStorageQueue" connectionString="" />
</connectionStrings>