<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- http://docs.particular.net/nservicebus/nhibernate/  -->
  <appSettings>
    <add key="NServiceBus/Persistence/NHibernate/dialect" value="NHibernate.Dialect.MsSql2012Dialect" />
    <add key="NServiceBus/Persistence/NHibernate/default_schema" value="V6" />
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
