<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xdt:Transform="RemoveAll" />
      <target name="splunk" xsi:type="Network" address="tcp://deploy.particular.net:8001" layout="${level}~${gdc:item=sessionid}~${gdc:item=testcategory}~${gdc:item=testdescription}~${gdc:item=permutationId}~${message}~${newline}" xdt:Transform="Insert" />
    </targets>
    <rules>
      <logger name="*" xdt:Transform="RemoveAll" />
      <logger name="Statistics" minlevel="Debug" writeTo="splunk" xdt:Transform="Insert" />
    </rules>
  </nlog>
</configuration>