<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="WarmupDuration" value="00:00:10" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RunDuration" value="00:00:50" />
  </appSettings>
</configuration>