<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="splunk" xsi:type="Network" address="tcp://deploy.particular.net:8001" layout="${level}~${gdc:item=sessionid}~${gdc:item=testcategory}~${gdc:item=testdescription}~${gdc:item=permutationId}~${message}~${gdc:item=testname}~${newline}" xdt:Transform="Insert" />
    </targets>
    <rules>
      <logger xdt:Transform="RemoveAll" />
      <logger xdt:Transform="Insert" name="NServiceBus.Azure.Transports.WindowsAzureServiceBus.AzureServiceBusQueueCreator" maxlevel="Info" final="true" />
      <logger xdt:Transform="Insert" name="NServiceBus.Distributor.MSMQ.*" maxlevel="Info" final="true" />
      <logger xdt:Transform="Insert" name="Statistics" minlevel="Debug" writeTo="splunk" />
      <logger xdt:Transform="Insert" name="Environment" minlevel="Debug" writeTo="splunk" />
      <logger xdt:Transform="Insert" name="*" minlevel="Info" writeTo="file" />
    </rules>
  </nlog>
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="WarmupDuration" value="00:00:03" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RunDuration" value="00:00:57" />
  </appSettings>
</configuration>