<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="WarmupDuration" value="00:00:01" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RunDuration" value="00:00:29" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <rules>
      <logger xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="*" minlevel="Info" />
    </rules>
  </nlog>
</configuration>